<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Informações Operador</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="operadorForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
      <div class="row">

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Operador ID</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
           <input matInput placeholder="Insira um nome de login" formControlName="operador_Id"/>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Nome</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
           <input matInput type="text" placeholder="Insira um nome" formControlName="nome" />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Senha</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="accent">
           <input matInput type="password" placeholder="Insira uma senha "formControlName="senha" />
          </mat-form-field>
        </div>

        <div class="col-lg-6"></div>
          <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
           <input matInput type="email" placeholder="Insira o e-mail" formControlName="email"/>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-500 m-b-8 d-block">Perfil</mat-label>
          <mat-form-field appearance="outline" class="w-900">
          <mat-select [(value)]="perfilSelecionado" formControlName="perfil_Id">
              @for(option of perfil; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
          </mat-select>
          </mat-form-field>
        </div>


    <div class="col-lg-6">
          <mat-label class="f-w-500 m-b-8 d-block">Admin</mat-label>
          <mat-form-field appearance="outline" class="w-900">
          <mat-select [(value)]="adminSelecao" formControlName="se_Admin">
              @for(option of admin; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
          </mat-select>
          </mat-form-field>
        </div>
      <div class="m-t-12">
        <button mat-stroked-button color="success" class="m-r-8" type="submit">Cadastrar</button>
        <button mat-stroked-button color="warn" class="m-r-8" >Limpar</button>
        <button mat-stroked-button color="warn" class="m-r-8" [routerLink]="['/social/equipe']">
        <span>Voltar</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>