<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Contra Senha</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Código</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Código informado pelo Actyon." />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block"> Últimos 3 dígitos - Qtde Licença</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="email" placeholder="Últimos 3 dígitos do código." />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Resultado</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="password" placeholder="Resultado Contra Senha" [disabled]="isDisabled"/>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Gerar Contra Senha</button>
        <button mat-stroked-button color="warning">Apagar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Criptografia</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Nome/ID</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Nome/ID" />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Contra Prova</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="email"  [disabled]="isDisabled" placeholder="Resultado da descriptografia." />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Criptografado</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="password" placeholder="Cole aqui o texto para descriptografar."/>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Gerar Criptografia/Descriptografia</button>
        <button mat-stroked-button color="warning">Apagar </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>