<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Disposição de Servidores</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Loop Grupos -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let grupo of grupos">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ grupo.grupo }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- Loop Empresas -->
          <div *ngFor="let empresa of grupo.empresas">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ empresa.nome }} - ({{ empresa.localizacao }})
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- Loop Servidores -->
              <table mat-table [dataSource]="empresa.servidores" class="mat-elevation-z2">

                <!-- Servidor -->
                <ng-container matColumnDef="servidor">
                  <th mat-header-cell *matHeaderCellDef>Servidor</th>
                  <td mat-cell *matCellDef="let s">{{ s.ipServidor }}</td>
                </ng-container>

                <!-- Carteiras -->
                <ng-container matColumnDef="carteiras">
                  <th mat-header-cell *matHeaderCellDef>Carteiras</th>
                  <td mat-cell *matCellDef="let s">{{ s.carteiras.join(', ') }}</td>
                </ng-container>

                <!-- IIS -->
                <ng-container matColumnDef="iis">
                  <th mat-header-cell *matHeaderCellDef>IIS</th>
                  <td mat-cell *matCellDef="let s">{{ s.iis }}</td>
                </ng-container>

                <!-- Versão -->
                <ng-container matColumnDef="versao">
                  <th mat-header-cell *matHeaderCellDef>Versão Actyonweb</th>
                  <td mat-cell *matCellDef="let s">{{ s.versaoActyonweb }}</td>
                </ng-container>

                <!-- HML -->
                <ng-container matColumnDef="hml">
                  <th mat-header-cell *matHeaderCellDef>Actyonweb HML</th>
                  <td mat-cell *matCellDef="let s">{{ s.actyonwebHml || '-' }}</td>
                </ng-container>

                <!-- Renderiza -->
                <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
                <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
              </table>
            </mat-expansion-panel>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
  </mat-card>
</div>