
<app-topstrip (toggleMobileNav)="onToggleMobileNav()"></app-topstrip>
<mat-sidenav-container class="mainWrapper blue_theme light-theme" autosize autoFocus dir="ltr">
  <!-- ============================================================== -->
  <!-- Vertical Sidebar -->
  <!-- ============================================================== -->
  <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="options.sidenavOpened"
    (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
    <div class="flex-layout">
      <app-sidebar (toggleMobileNav)="onToggleMobileNav()" [showToggle]="!isOver"></app-sidebar>
      <ng-scrollbar class="position-relative" style="height: 100%">
        <mat-nav-list class="sidebar-list">
          @for(item of navItems; track item) {
          <app-nav-item [item]="item" (notify)="onNavItemClick()">
          </app-nav-item>
          }
        </mat-nav-list>
      </ng-scrollbar>
    </div>
  </mat-sidenav>
  
  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="contentWrapper" #content>
    <!-- ============================================================== -->
    <!-- VerticalHeader -->
    <!-- ============================================================== -->
    
    <app-header [showToggle]="!isOver" (toggleMobileNav)="onToggleMobileNav()"></app-header>
    
    <main class="pageWrapper maxWidth">
      @if (!options.sidenavOpened) {
        <button mat-fab color="primary" aria-label="Abrir menu"
                (click)="onToggleMobileNav()"
                style="position: fixed; top: 12px; left: 12px; z-index: 1100;">
          <i-tabler name="menu"></i-tabler>
        </button>
      }
      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
    </main>

    <div class="p-16 p-b-30 text-center">
      Desenvolvido por:<a class="text-decoration-none" href="https://jca.vaiacelerar.com.br/" target="_blank">Equipe JCA Soluções</a> 
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>